<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Dashboard - Ace Admin</title>

		<meta name="description" content="overview stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="icon" href="http://www.sina.com.cn/favicon.ico" />
        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="//lib.sinaapp.com/js/bootstrap/3.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

        <!-- page specific plugin styles -->{% block page_style %}{% endblock %}

        <!-- text fonts -->
        <link rel="stylesheet" href="//fonts.useso.com/css?family=Open+Sans:400,300" />

        <!-- ace styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ace.min.css') }}" />

        <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ace-part2.min.css') }}" />
        <![endif]-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ace-skins.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ace-rtl.min.css') }}" />

        <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ace-ie.min.css') }}" />
        <![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->
        <script src="{{ url_for('static', filename='js/ace-extra.min.js') }}"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lte IE 8]>
        <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
        <![endif]-->
        {% block page_header_script %}{% endblock %}
	</head>

	<body class="no-skin">

         {% include 'navbar.html' %}
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

            {% include 'sidebar.html' %}

			<div class="main-content">{% block main_content %}xxx{% endblock %}</div>

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Sina</span>
							Corporation &copy; 2015-2016
						</span>
						<span class="action-buttons">
							<a href="http://weibo.com/zephor" target="_blank">
								<i class="ace-icon fa fa-weibo light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss orange bigger-150"></i>
							</a>
						</span>
					</div>
				</div>
            </div>
        </div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="//lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
        <script src="//lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
        <![endif]-->

		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="//lib.sinaapp.com/js/bootstrap/3.0.0/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script>
		<![endif]-->

		<!--<script src="{{ url_for('static', filename='js/jquery.easypiechart.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.sparkline.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/flot/jquery.flot.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/flot/jquery.flot.pie.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/flot/jquery.flot.resize.min.js') }}"></script>-->

		<!-- ace scripts -->
		<script src="{{ url_for('static', filename='js/ace-elements.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/ace.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/zspider.js') }}"></script>

        <script>
            //set sidebar nav active
            +function($){
                var href = location.href, is_set = false;
                href = href.split('?')[0];
                $('ul.nav.nav-list>li').each(function(){
                    var _this = $(this), as = _this.find('a');
                    as.each(function(){
                        var __this = $(this), _href = __this.prop('href');
                        if(_href.charAt(_href.length-1)!=='#'&&zspider.fuzzyEq(_href, href)){
                            // console.log(_href, href);
                            if(as.length > 1){
                                _this.addClass('active open');
                                __this.parent().addClass('active');
                                if(_this.find('ul').length > 1){
                                    __this.parents('li').eq(1).addClass('open');
                                    __this.parents('ul').eq(0).addClass('nav-show').css('display', 'block');
                                }
                            }
                            else{
                                _this.addClass('active');
                            }
                            is_set = true;
                        }
                    });
                });
                if(!is_set){
                    $('ul.nav.nav-list>li').first().addClass('active');
                }
            }(jQuery);
        </script>

		<!-- inline scripts related to this page -->
        {% block page_script %}<!-- -->{% endblock %}
	</body>
</html>