{% extends "base.html" %}
{% block page_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
<style>
.page-wrap{
    text-align: right;
}
#logs dt{
    cursor: pointer;
}
#logs dt:hover, #logs dd:hover{
    background-color: #F5F5F5;
}
#log-detail dt{
    width: 80px;
}
#log-detail dd{
    margin-left: 100px;
}
</style>
{% endblock %}
{% block main_content %}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="/task/list">任务管理</a>
        </li>
        <li class="active">日志记录</li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">
{% include 'ace-settings.html' %}
    <div class="page-header">
        <h1>
            任务管理
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                日志记录
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-md-12">
            <div id="q_form" class="row">
                <div class="col-md-2">
                    <select name="ip" style="width: 100%"><option value="no">未选</option>{% for ip_ in ips %}<option{% if ip_ == ip %} selected="selected"{% endif %} value="{{ ip_ }}">{{ ip_ }}</option>{% endfor %}</select>
                </div>
                <div class="col-md-1">
                    <select name="level">{% for level_ in levels %}<option{% if level_ == level %} selected="selected"{% endif %} value="{{ level_ }}">{{ levels[level_] }}</option>{% endfor %}</select>
                </div>
                {% if task_id %}<input name="task_id" type="hidden" value="{{ task_id }}">{% endif %}
                <div class="col-md-4 input-group"><input placeholder="Enter url to search" class="form-control" name="url" type="url" value="{{ url if url else '' }}"><span class="input-group-addon">
                    <i class="ace-icon fa fa-search"></i>
                </span></div>
            </div>
            <dl id="logs" class="dl-horizontal">
                {% for log in logs.items -%}
                    <dt data-id="{{ log.id }}">{{ log.time.strftime('%Y-%m-%d %H:%M:%S') }} <tt>{{ levels[log.level] }}</tt></dt>
                    <dd>{{ log.msg }}</dd>
                {%- endfor %}
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-8 page-wrap">
            <ul class="pagination">
            {% if logs.has_prev %}
                <li class="prev"><a href="{{ url_for('log_list', part=part, page=logs.prev_num, ip=ip, level=level) }}"><i class="fa fa-angle-left"></i></a></li>
                {% else %}
                <li class="prev disabled"><a><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            {% for page in logs.iter_pages() %}
                {% if page %}
                    {% if page != logs.page %}
                        <li><a href="{{ url_for('log_list', part=part, page=page, ip=ip, level=level) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a>{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a>…</a></li>
                {% endif %}
            {% endfor %}
            {% if logs.has_next %}
                <li class="next"><a href="{{ url_for('log_list', part=part, page=logs.next_num, ip=ip, level=level) }}"><i class="fa fa-angle-right"></i></a></li>
                {% else %}
                <li class="next disabled"><a><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
            </ul>
        </div>
    </div>
    <div id="log-detail" class="hide">
        <dl class="dl-horizontal">
        </dl>
    </div>
</div>
{% endblock %}
{% block page_script %}
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ui.touch-punch.min.js') }}"></script>
<script>
$(function(){
    var levels = {0: 'NOTSET', 10: 'DEBUG', 20: 'INFO', 30: 'WARNING', 40: 'ERROR', 50: 'FATAL'},
        q_form = $('#q_form');

    function q(){
        var baseurl = window.location.href.split('?')[0] + '?',
            params = [];
        q_form.find('[name]').each(function(){
            params.push(this.name + '=' + this.value);
        });
        window.location.href = baseurl + params.join('&');
    }

    q_form.keypress(function(e){
        if(e.keyCode === 13){
            q();
        }
    })

    q_form.find('select').on('change', function(){
        q();
    });
    //override dialog's title function to allow for HTML titles
    $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
        _title: function(title) {
            var $title = this.options.title || '&nbsp;'
            if( ("title_html" in this.options) && this.options.title_html == true )
                title.html($title);
            else title.text($title);
        }
    }));
    $('#logs dt').on('click', function(){
        var log_id = $(this).attr('data-id');
        $.get('/log/' + '{{ part }}/' + log_id, function(res){
            console.log(res);
            var d = $("#log-detail"), dl, key, tmp, params = {
                modal: true,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-envelope-o'></i> 日志详情</h4></div>",
                title_html: true,
                width: '80%',
                buttons: [
                    {
                        text: "OK",
                        class : "btn btn-primary btn-xs",
                        click: function() {
                            $(this).dialog("close");
                        }
                    }
                ]
            };
            dl = d.children('dl');
            dl.html('');
            for(key in res){
                tmp = key == 'level'?levels[res[key]]:res[key];
                if(typeof tmp === 'string'){
                    tmp = tmp.replace(/</g, '&lt;');
                    tmp = tmp.replace(/>/g, '&gt;');
                }
                dl.append('<dt>' + key + ':</dt><dd><pre>' + tmp + '</pre></dd>');
            }
            d.removeClass('hide').dialog(params);
        });
    });
});
</script>
{% endblock %}