{% extends "base.html" %}
{% block main_content %}
<div>{% for msg in flashes %}{{ msg }}<br>{% endfor %}</div>
{% if users.items %}
    {% for field in fields.items %}
    <a href="{{ url_for('admin.field_add', field_id=field.id) }}">{{ field }}</a><br>
    {% endfor %}
{% else %}
    haha
{% endif %}
<div>字段总数：{{ count }}</div>
<div>{% for page in fields.iter_pages() %}
                {% if page %}
                  {% if page != fields.page %}
                    <a href="{{ url_for('admin.field_list', page=page) }}">{{ page }}</a>
                  {% else %}
                    <strong>{{ page }}</strong>
                  {% endif %}
                {% else %}
                  <span>…</span>
                {% endif %}
              {% endfor %}</div>
{% endblock %}