# dispatcher
apscheduler~=3.10.1
flask-mongoengine~=1.0.0
mongoengine~=0.27.0

# optional
netifaces~=0.11.0

# web

# all
pooled-pika==0.2.1
python-memcached==1.59

# crawl_daemon
scrapy==2.1.0
selenium==3.141.0
