# dispatcher
apscheduler==3.6.3
flask-mongoengine==0.9.5
mongoengine==0.20.0

# optional
netifaces==0.10.9

# web

# all
pooled-pika==0.2.1
python-memcached==1.59

# crawl_daemon
scrapy==2.5.1
selenium==3.141.0
