# dispatcher
apscheduler~=3.10.1
flask-mongoengine~=1.0.0
mongoengine~=0.27.0

# optional
netifaces~=0.11.0

# web

# all
pooled-pika~=0.3.0
python-memcached==1.59

# crawl_daemon
pyopenssl==22.0.0
scrapy~=2.8.0
selenium==4.8.3
