{% extends "base.html" %}
{% block main_content %}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="/task/list">任务管理</a>
        </li>
        <li class="active">{% if is_add %}添加任务{% else %}编辑任务{%endif%}</li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">
{% include 'ace-settings.html' %}
    <div class="page-header">
        <h1>
            任务管理
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {% if is_add %}添加任务{% else %}编辑任务{%endif%}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <form id='task_form' class="form-horizontal" role="form" method="POST">
                {% if form.error %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>{{ form.error }}
                    </div>
                {% endif %}
                <input id="fields_len" name="fields_len" type="hidden" value="{{ fields_len }}">
                {% for field in form %}
                {% if field.type == 'CSRFTokenField' %}{{ field }}{% else %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">{{ field.label(class_='col-sm-3 control-label no-padding-right') }}<div class="col-xs-12 col-sm-4">{{ field(class='col-sm-9') }}{% if field.description %}<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="{{ field.description }}" title="" data-original-title="{{ field.label.text }}">?</span>{% endif %}</div>{% if field.errors %}<div class="help-block col-xs-12 col-sm-reset inline">{{ field.errors[0] }}</div>{% endif %}</div>{% endif %}
                {% endfor %}<div class="hr hr12 dotted"></div>
                <div id="task_form_conf">{% include 'task/form_conf.html' %}</div>
                {% for article_field_form in article_field_forms -%}{% set i=loop.index-1 %}<div class="hr hr8 dotted"></div>{% for field in article_field_form %}
                {% if field.type != 'CSRFTokenField' %}
                <div class="form-group{% if field.errors %} has-error{% endif %} fields_div">{{ field.label(class_='col-sm-3 control-label no-padding-right') }}<div class="col-xs-12 col-sm-5">{{ field(id=field.name+'_'+i|string, class='col-sm-9') }}{% if field.description %}<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="{{ field.description }}" title="" data-original-title="{{ field.label.text }}">?</span>{% endif %}</div>{% if field.errors %}<div class="help-block col-xs-12 col-sm-reset inline">{{ field.errors[0] }}</div>{% endif %}</div>{% endif %}
                {% endfor %}
                {% if article_field_form.error %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>{{ article_field_form.error }}
                    </div>
                {% endif %}
                {%- endfor %}
                <div class="clearfix form-actions">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="add_field" class="btn btn-info" type="button">
                            <i class="ace-icon fa fa-plus bigger-110"></i>
                            添加字段
                        </button>
                        <button id="del_field" class="btn" type="button">
                            <i class="ace-icon fa fa-minus bigger-110"></i>
                            删除字段
                        </button>{% if not is_add %}
                        <button id="force-save" class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            新建
                        </button>
                        <button id="force-save-start" class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            新建并启动
                        </button>{% endif %}
                    </div>
                    <div class="col-md-12 hr hr8"></div>
                    <div class="col-md-offset-2 col-md-10">
                        <button id="test-index" class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-plus bigger-110"></i>
                            测试索引
                        </button>
                        <button id="test-article" class="btn" type="submit">
                            <i class="ace-icon fa fa-minus bigger-110"></i>
                            测试新闻
                        </button>
                        <button id="normal_submit" class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            保存
                        </button>
                        {% if is_add or not is_active %}
                        <button id="submit_start" class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            保存并启动
                        </button>{% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.page-content -->
{% endblock %}
{% block page_script %}
<script>
$('[data-rel=popover]').popover({container:'body'});
$(function(){
    $('.fields_div').find('label').each(function(){
        var input = $(this.nextSibling).children('input')[0];
        $(this).prop('for', input.id);
        input.name = input.id;
    });

    var _html = '<div class="hr hr8 dotted"></div>{% for field in article_field_forms.0 %}{% if field.type != 'CSRFTokenField' %}<div class="form-group">{{ field.label(class_='col-sm-3 control-label no-padding-right') }}<div class="col-xs-12 col-sm-5">{{ field(id=field.name+'_'+fields_len|string, class='col-sm-9', value='') }}{% if field.description %}<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="{{ field.description }}" title="" data-original-title="{{ field.label.text }}">?</span>{% endif %}</div></div>{% endif %}{% endfor %}',
        ele_len = $(_html).length,
        task_form = $('#task_form'),
        fields_len = $('#fields_len'),
        ourl = window.location.href;


    function get_field_html(num){
        var h = $(_html), _p;
        h.find('input').each(function(){
            _p = this.id.split('_');
            _p[_p.length-1] = num;
            this.id = _p.join('_');
            this.name = this.id;
            $(this).parent().prev().prop('for', this.id);
        });
        return h;
    }


    $('#add_field').click(function(){
        var fl = +fields_len.val();
        task_form.children().last().before(get_field_html(fl));
        fields_len.val(fl+1);
    });
    $('#del_field').click(function(){
        var fl = +fields_len.val(), i = ele_len;
        if(fl <= {{ base_fields_len }}){
            alert("can't del more");
            return;
        }
        while(i--){
            task_form.children().eq(-2).remove();
        }
        fields_len.val(fl-1);
    });
    $('#parser').change(function(){
        $.get(window.location.href+'?parser='+this.value, function(res){
            $('#task_form_conf').html(res);
            $('[data-rel=popover]').popover({container:'body'});
        });
    });
    $('#force-save').click(function(){
        task_form.prop('action', '/task/add').prop('target', '_self');
    });
    $('#force-save-start').click(function(){
        task_form.prop('action', '/task/add?active=1').prop('target', '_self');
    });
    $('#test-index').click(function(){
        task_form.prop('action', '/task/test/index').prop('target', '_blank');
    });
    $('#test-article').click(function(){
        task_form.prop('action', '/task/test/article').prop('target', '_blank');
    });
    $('#normal_submit').click(function(){
        task_form.prop('action', ourl+'?active=1').prop('target', '_self');
    });
    $('#submit_start').click(function(){
        task_form.prop('action', ourl+'?active=1').prop('target', '_self');
    });
});
</script>
{% endblock %}